@{
    ViewData["Title"] = "About Page";
}

<br><br><br>
<h2>About BMI Buddy</h2>

<p>Body mass index (BMI) is a measure of body fat based on your weight in relation to your height, and applies to most adult men and women aged 20 and over. For children aged 2 and over, BMI percentile is the best assessment of body fat.</p>
<p>BMI does not measure body fat directly. However, research indicates that BMI correlates to direct measures of body fat such as underwater weighing and dual-energy X-ray absorptiometry (DXA), and is considered an inexpensive and easy-to-perform alternative for these.</p>

<h3><i>Fast facts on BMI</i></h3>
<p>Here are some key points about BMI. More detail and supporting information is in the main article.</p>
<ul>
    <li>Body mass index (BMI) is a measure of relative size based on the mass and height of an individual.</li>
    <li>The Quetelet Index was devised by Adolphe Quetelet, a Belgian mathematician, astronomer and statistician, in 1832. It was later termed "body mass index" in 1972 by Ancel Keys.</li>
    <li>BMI is a simple, inexpensive and noninvasive surrogate measure of body fat.</li>
    <li>Factors such as age, sex, ethnicity and muscle mass are not accounted for in BMI.</li>
    <li>For adults 20 years and older, BMI is interpreted by using standard weight status categories that are the same for all ages, and for both men and women.</li>
    <li>For children and adolescents between 2-20 years old, BMI is interpreted relative to a child's age and sex.</li>
    <li>BMI is a reasonable indicator of body fat for both adults and children.</li>
    <li>Because BMI does not measure body fat directly, it should not be used as a diagnostic tool.</li>
    <li>BMI should be used as a measure to track weight status in populations and as a screening tool to identify potential weight problems in individuals.</li>
    <li>Other measures of body fat, such as skinfold thicknesses, bioelectrical impedance, underwater weighing and dual energy X-ray absorption, maybe more accurate than BMI.</li>
</ul>