@{
    ViewData["Title"] = "Home Page";
}


<br><br><br><br>

<div>
    <h1 style="text-align:center;font-size:75px"><i><b>BMI BUDDY</b></i></h1>
    <br>
    <p style="text-align:center"><img src="http://3go1go.com/wp-content/uploads/2018/01/BMI-1.jpg" display="block" /></p>
    <br>
    <h4 style="text-align:center">Welcome to BMI Buddy, where we make it easy to calculate your BMI! Please select one of the menu options above!</p>
</div>

